@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Fill DIV demo</h1>
            </hgroup>
            <h2>
                This is a some demo-code to show howto fill a div by calling jQuery and stuffing the result into it.
                <p>
                    @Html.ActionLink("FILLDIV TEST HERE", "Fill", "Server")
                </p>
            </h2>
        </div>
    </section>
}
